<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post" action="{{ url_for("guestForm")}}">
        <label for="name">Nome</label>
        <input id="name" type="text" name="name"><br>
        <label for="surname">Cognome</label>
        <input id="surname" type="text" name="surname"><br>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"><br>
        <label for="type">Professione</label>
        <select id="type" name="type">
            <option value="studente medie" name="studente_medie">Studente medie
            <option value="studente superiori" name="studente_superiori">Studente superiori
            <option value="studente universitario" name="studente_universitario">Studente universitario
            <option value="lavoratore" name="lavoratore">Lavoratore
            <option value="altro" name="altro">Altro
        </select> <br>
        <label for="newsletter">Voglio ricevere delle news rilevanti il progetto o la CPT di Trevano</label>
        <input id="newsletter" type="checkbox" value="True" name="newsletter"><br>
        <label for="cookies">Accetto l' informativa sulla privacy e sui cookies</label>
        <input id="cookies" type="checkbox" name="cookies"><br>
        <input type="submit">
    </form>
</body>
</html>