<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="QuizMania">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>QuizMania</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>

<body class="container text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="" width="30" height="24" class="d-inline-block align-text-top" alt="">
                QuizMania
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <h1 class="display-4">QuizMania</h1>
        <h5 id="argument" class="h4">argomento</h5>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ qrcode }}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <h5 id="code" class="h4">codice stanza</h5>
                <p id="link" class="lead">{{ room_code }}</p>
            </div>
        </div>
    </div>

    <div class="container border mt-3">
        <div class="row align-items-end">
            <div class="col"></div>
            <div class="col-8 h5">Player</div>
            <div class="col"></div>
        </div>
    </div>

    <div class="container mt-3">
        <button type="button" class="btn btn-dark btn-lg">Begin</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">

        Quagga.init({
            inputStream: {
              name: "Live",
              type: "LiveStream",
              target: document.querySelector('#qrcode'), // Target element for the video stream
            },
            decoder: {
              readers: ["code_128_reader"], // Use the appropriate reader for QR codes
            },
          }, function(err) {
            if (err) {
              console.error(err);
              return;
            }
            console.log("Quagga initialized successfully");
            Quagga.start();
            Quagga.onDetected(function(result) {
              var code = result.codeResult.code;
              console.log("Detected code: " + code);
              // Invia il codice della stanza al server
              fetch('/join_room', {
                method: 'POST',
                body: JSON.stringify({ room_code: code }),
                headers:{
                  'Content-Type': 'application/json'
                }
              }).then(response => {
                if (response.ok) {
                  // Redirect l'utente alla stanza
                  window.location.href = '/room/' + code;
                } else {
                  console.error('Errore durante il tentativo di unirsi alla stanza');
                }
              });
            });
          });
    </script>
</body>

</html>
