
  
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  

#users {
    position: absolute;
    align-content: center;
    width: 90%;
    height: 50px;
    background-color: white;
    border: 1px solid #2c0135;
    border-radius: 2px;
}